# =========================
# ANSYS Fluent
# =========================

*.cas.h5
*.dat.h5
*.trn
*.out
*.log
*.cdat
*.msh
*.cas
*.dat
*.gz
*.plt
*.prof
*.ip
*.jou

# =========================
# ANSYS Meshing
# =========================

*.agdb
*.mechdb
*_files/

# =========================
# Solver temporary files
# =========================

*.tmp
*.temp
*.autosave
*.lock

# =========================
# Python
# =========================

__pycache__/
*.pyc

# =========================
# OS files
# =========================

.DS_Store
Thumbs.db

# =========================
# VSCode
# =========================

.vscode/

# =========================
# Keep important files
# =========================

!*.py
!*.pdf
!*.png
!*.jpg
!*.jpeg
!*.md
!*.step
!*.stp
!*.dat
